<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
            crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" id="item" name="item" placeholder="Add new item..." required />
            <button type="submit" >Add Item</button>
        </form>
        <!-- unordered list -->
        <ul>
            <!-- list item -->
            <% todos.forEach(obj => { %>
                <li> <%= obj.item; %> </li>
            <% }); %>
        </ul>
    </div>
    <script src="/assets/todo-list.js"></script>
</body>
</html>
